extend layout

block content
  #wrapper
    .header
      a#logo

    #chat-container
      ul(id='chat-list')
      .end

    div(id='channel', data-channel='#{channel}')
  #footer
    form(method='post', id='composer-form')
      .message-content
        input(name='message', id='composer-message', class='input', maxlength='100', autocomplete='off', placeholder=t('messagePrompt'))
        input(type='hidden', name='_csrf', value='#{csrf}')
        #composer-blocker.hidden
    #counter 100

