extend layout

block content
  div(id='channel', data-channel='#{channel}')
  form(method='post', id='composer-form')
    .message-content
      input(name='message', id='composer-message', class='input', maxlength='250', autocomplete='off', placeholder=t('messagePrompt'))
      input(type='hidden', name='_csrf', value='#{csrf}')
      #composer-blocker.hidden
  #counter 250
  #footer
