extend layout

block content
  #wrapper.home
    h1 Chat now

    h2 Create a channel
    p Enter a name you want people to know you as and your email. We will send you a link to your new channel.
    form(method='post', action='/channel')
      input(type='text', name='username', placeholder='Your name', required)
      input(type='text', name='email', placeholder='Your email', required)
      button(type='submit') Create!
