extend layout

block content
  #wrapper
    h1 Chat now

    h2 Create a channel
    form(method='post')
      input(type='text', name='channel', placeholder='type name here', required)
      button(type='submit') Create!
