extend layout

block content
  #wrapper.home
    h1 Enter your name to join this channel

    form(method='post', action='/username')
      input(type='text', name='username', placeholder='Your name', required)
      input(type='hidden', name='channel', value='#{channel}')
      button(type='submit') Join!
